<ion-view title="Home" id="page1" class=" " style="">
    <ion-content padding="true" class="has-header">
        <a ui-sref="page1" id="home-button2" class=" button button-positive  button-block ">Page 1</a>
        <a ui-sref="page2" id="home-button3" class=" button button-positive  button-block ">Page 2</a>
        <a ui-sref="page3" id="home-button4" class=" button button-positive  button-block ">Page 3</a>
        <a ui-sref="page4" id="home-button5" class=" button button-positive  button-block ">Page 4</a>
        <a ui-sref="page5" id="home-button6" class=" button button-positive  button-block ">Page 5</a>
        <a ui-sref="page6" id="home-button7" class=" button button-positive  button-block ">Page 6</a>
    </ion-content>
</ion-view>