<ion-view title="Page 5" id="page6" class=" " style="">
  <ion-content padding="true" class="has-header">

    <ion-list id="login-list2" class=" ">
        <label class="item item-input " id="login-user">
            <span class="input-label">Usuario</span>
            <input ng-model="user" placeholder="" type="text">
        </label>
        <label class="item item-input " id="login-password">
            <span class="input-label">Contraseña</span>
            <input ng-model="password" placeholder="" type="password">
        </label>
    </ion-list>
    <button ng-click="loginButton(user, password)" id="login-button" class=" button button-stable  button-block ">Ingresar</button>

  </ion-content>
</ion-view>