<ion-view title="Page 3" id="page4" class=" " style="">
    <ion-content padding="true" class="has-header">
        <form id="page3-form4" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="page3-toggle4" class=" ">Toggle</ion-toggle>
            <ion-radio id="page3-radio4" class=" ">Radio</ion-radio>
            <label class="item item-input " id="page3-input3">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
            <ion-item class="range range-positive " id="page3-range1">Range
                <input value="50" min="0" max="100" type="range">
            </ion-item>
        </form>
    </ion-content>
</ion-view>