<!DOCTYPE html>
<html ng-app = "lab1a">
<head>
  <meta charset="utf-8" />
  <title>Refuerzo 1.1</title>
</head>
<body>
  <div ng-controller="lab1aController">
    <form name="studentForm" novalidate>
      <label>Nombre:</label>
      <input type="text" name="name" ng-model="name">
      <br />
      <label>Número de Identificación:</label>
      <input type="text" name="id" ng-model="id">
      <br />
      <label>Profesión:</label>
      <input type="text" name="profession" ng-model="profession">
      <br />
      <label>Número de Identificación:</label>
      <input type="text" name="id" ng-model="id">
      <br />
      <label>Sueldo:</label>
      <input type="text" name="salary" ng-model="salary">
      <br />
      <label>Teléfono:</label>
      <input type="text" name="phone" ng-model="phone">
      <br />
      <label>Dirección:</label>
      <input type="text" name="address" ng-model="address">
      <br />
    </form>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script type="text/javascript" src="js/lab1a.js"></script>

</body>
</html>