<div ng-controller="lab1aController">
  <form name="studentForm" novalidate>
    <label>Nombre:</label>
    <input type="text" name="name" ng-model="name">
    <br />
    <label>Número de Identificación:</label>
    <input type="text" name="id" ng-model="id">
    <br />
    <label>Profesión:</label>
    <input type="text" name="profession" ng-model="profession">
    <br />
    <label>Número de Identificación:</label>
    <input type="text" name="id" ng-model="id">
    <br />
    <label>Sueldo:</label>
    <input type="text" name="salary" ng-model="salary">
    <br />
    <label>Teléfono:</label>
    <input type="text" name="phone" ng-model="phone">
    <br />
    <label>Dirección:</label>
    <input type="text" name="address" ng-model="address">
    <br />
  </form>
</div>